body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-family: roboto, sans-serif;
	background-color: #F9F9F9;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.95);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	padding: 12px 0px 10px 10px;
	display: flex;
	justify-content: center;
}

.header-container {
	max-width: 1600px;
	width: 100%;
	display: flex;
	align-items: left;
}

.logo {
	vertical-align: middle;
	text-decoration: none;
	font-weight: 500;
	color: black;
}

.logo img {
	width: 32px;
	height: 32px;
	padding-right: 5px;
	vertical-align: middle;
}

.navigation {
	margin-right: 20px;
	padding-top: 8px;
	font-size: 0.8em;			
}

.navigation a {
	text-decoration: none;
	color: #999999;
	margin-left: 20px;
}

.navigation a:hover {
	text-decoration: underline;
}

.footer {
	max-width: 1600px;
	width: 100%;
	display: flex;
	border-top: 1px solid #CCCCCC;
}

.footer p {
	width: 100%;
	text-align: center;
	color: #AAAAAA;
	font-size: 0.8em;
}

.box-container {
	max-width: 1600px;
	width: 100%;
	margin: 70px auto 20px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}

.box {
	width: calc(25% - 20px); /* 4 boxes per row */
	margin: 10px;
	padding: 20px 20px 20px 20px;
	box-sizing: border-box;
	border: 2px solid #CCCCCC;
	border-radius: 8px;
	background-color: #FFFFFF;
}

.box img {
	max-width: 100%;
}

.box p {
	display: none;
	text-align: center;
	font-size: 0.8em;
	font-weight: bold;
	color: #999999;
	margin: 0px;
	padding: 10px 0px 0px 0px;
	border-top: 1px solid #CCCCCC;
}

@media (max-width: 1600px) {
	.box {
		width: calc(33.33% - 20px); /* 3 boxes per row */
	}
}

@media (max-width: 1200px) {
	.box {
		width: calc(50% - 20px); /* 2 boxes per row */
	}
}

@media (max-width: 800px) {
	.box {
		width: calc(100% - 20px); /* 1 box per row */
	}
}