body {
font-family: roboto, sans-serif;
background: url("../images/background-madewith.jpg") top center repeat-y #5C5C5C;
background-size: 100%;
color: #FFFFFF;
font-size: 10px;
}

.home-banner {
background-image: none;
padding-bottom: 0px;
}

a {
color: #F3AEAE;
}

a:focus, a:hover {
color: #E5E3E3;
}

h1 {
font-size: 185%;
font-weight: 600;
}

.home-banner h2 {
font-size: 130%;
}

h3 {
font-weight: 900;
font-size: 130%;
background-color: #F3AEAE;
color: #FFFFFF;
padding: 6px;
margin: 30px auto 10px;
width: 80%;
border-radius: 40px;
}

table a {
color: #909090;
}

table a:focus, table a:hover {
color: #F3AEAE;
}

table th {
background-color: #E5E3E3;
color: #5C5C5C;
}

table tr th:first-child {
width: 75%;
text-align: left;
}

table tr td:first-child {
width: 75%;
text-align: left;
}

table tr th:last-child {
text-align: center;
}

table tr td:last-child {
text-align: center;
}

@media(min-width: 350px) {
h3 {
width: 60%;
}

.main-content {
max-width: 200px;
}
}

@media(min-width: 500px) {
body {
font-size: 11px;
}

h3 {
padding: 10px;
margin: 30px auto 10px;
width: 60%;
}

.main-content {
max-width: 300px;
}
}

@media(min-width: 768px) {
body {
font-size: 12px;
}

.main-content {
max-width: 400px;
}
}

@media(min-width: 1024px) {
body {
font-size: 18px;
}

h3 {
padding: 10px 10px 10px 15px;
margin: 50px auto 20px;
width: 50%;
}

.main-content {
max-width: 600px;
}
}

@media(min-width: 1400px) {
.main-content {
max-width: 800px;
}
}

@media(min-width: 1600px) {
body {
font-size: 18px;
}

h3 {
width: 40%;
}

.main-content {
max-width: 1024px;
}
}