body {
font-family: roboto, sans-serif;
background-color: #FFFFFF;
color: #5B5B5B;
}

h1 em, .home-banner h2 em {
color: #F3AEAE;
font-style: normal;
}

h2 {
font-weight: 600;
font-size: 22px;
background-color: #D69A9A;
color: #FFFFFF;
padding: 10px 10px 10px 15px;
margin-top: 10px;
margin-bottom: 10px;
width: 40%;
border-radius: 5px 35px 35px 5px;
}

h3 {
margin-top: 20px;
margin-bottom: 0px;
font-weight: 400;
font-size: 34px;
}

h4 {
font-weight: 400;
font-size: 24px;
}

h6 {
font-size: 0.75em;
}

p {
margin-top: 20px;
font-weight: 300;
font-size: 14px;
}

a, a:focus, a:active, button, button:focus, button:active, object, embed {
outline: 0 !important;
}

a.anchor {
display: block;
position: relative;
visibility: hidden;
top: -75px;
}

img {
border: none;
}

hr {
margin-top: 20px;
}

.btn-primary {
font-size: 18px;
font-weight: 600;
border-radius: 100px;
padding-left: 3em;
padding-right: 3em;
background-color: #F3AEAE;
border-color: #F3AEAE;
color: #FFFFFF;
}

.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover,
.open>.dropdown-toggle.btn-primary {
background-color: #E5E5E3;
border-color: #5B5B5B;
color: #5B5B5B;
}

.main-content .main-block:not(:last-child) {
border-bottom: 2px solid #5B5B5B;
}

.content-block {
padding-top: 20px;
padding-bottom: 20px;
padding-left: 15px;
padding-right: 15px;
}

.content-fixed {
margin-left: auto;
margin-right: auto;
max-width: 1280px;
}

.page-header {
position: fixed;
right: 0;
left: 0;
top: 0;
z-index: 1030;
border-color: transparent;
border: none;
background-color: #5B5B5B;
min-height: 65px;
border-bottom: 3px solid #5B5B5B;
height: 65px;
margin: 0px;
}

.navbar-brand-logo {
padding-top: 10px;
}

.navbar-brand-logo img {
width: 160px;
}

.force-flex-width {
flex: 0 0 auto;
width: 50%;
}

.home-banner {
margin-top: 63px;
text-align: center;
padding-top: 30px;
padding-bottom: 10px;
background-image: url('../images/home-banner.gif');
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.home-banner h1 {
color: #FFFFFF;
font-weight: 600;
font-size: 52px;
padding-bottom: 30px;
}

.home-banner h2 {
background: none;
color: #FFFFFF;
width: 100%;
font-weight: 200;
font-size: 38px;
}

.end-banner {
margin-top: -2px;
height: 50px;
width: 100%;
background-color: #5B5B5B;
}

.carousel-item {
justify-content: center;
align-items: center;
overflow: hidden;
}

.carousel-item-container {
position: relative;
width: 100%;
padding-top: 55%;
overflow: hidden;
}

.carousel-item img,
.carousel-item video {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

.carousel-caption {
bottom: 40px;
}

.carousel-caption h1{
font-weight: 900;
font-size: 19px;
text-shadow: 2px 2px #5B5B5B;
}

.carousel-indicators li {
border-color: #5B5B5B;	
}

.content-link a {
color: #5B5B5B;
text-decoration: underline;
}

.content-link a:focus, .content-link a:hover {
color: #F3AEAE;
text-decoration: none;
}

.resource-alt {
background-color: #E5E3E3;
}

.resource {
margin: 10px;
padding-bottom: 10px;
}

.resource img {
width: 100%;
max-width: 300px;
border-radius: 25px;
}

.resource .col-sm-4 {
display: none;
}

.resource .resource-cell {
padding-top: 15px;
}

.resource .resource-cell img {
margin-left: 0px;
margin-right: auto;
}

.resource .btn-primary {
margin-top: 20px;
}

.page-footer {
margin-top: 5px;
color: #E5E3E3;
background-color: #5B5B5B;
}

.page-footer p, .page-footer li {
font-size: 14px;
}

.page-footer .row {
padding-top: 20px;
padding-bottom: 10px;
}

.page-footer .address li:last-child {
  padding-top: 18px;
}

.icon-block {
text-align: right;
}

.icon-block h5{
margin-right: 10px;
}

.icons {
margin-top: 20px;
}

.icons ul {
list-style-type: none;
margin: 0px;
padding: 0px;
overflow: hidden;
}

.icons li {
display: inline-block;
}

.icons li.icon {
width: 28px;
height: 28px;
border-radius: 90px;
text-align: center;
}

.icons li.icon a {
color: #5B5B5B;
}

.icons li.icon a:focus, .icons li.icon a:hover {
color: #D69A9A;
}

.icons .social li.icon {
background-color: #FFFFFF;
font-size: 16px;
padding-top: 3px;
margin-right: 2px;
}

.icons .platform li {
padding-top: 8px;
}

.icons .platform li.icon {
background-color: #FFFFFF;
color: #5B5B5B;
padding-top: 5px;
margin-left: 8px;
}

.icons .platform li.icon img {
width: 22px;
height: 22px;
margin-right: 3px;
}

.page-footer .footer-copyright {
color: #5B5B5B;
background-color: #E5E3E3;
font-size: 11px;
padding-top: 0px;
padding-bottom: 5px;
}

.page-footer .footer-copyright .row {
padding: 0px;
}

@media(max-width: 600px) {
.home-banner h1 {
font-size: 42px;
}
}

@media(max-width: 499px) {
.home-banner h1 {
font-size: 32px;
}

.carousel-caption .btn-primary {
font-size: 12px;
font-weight: 600;
padding: 4px 3em;
}
}

@media(max-width: 364px) {
.home-banner h1 {
font-size: 26px;
}
}

@media(min-width: 240px) {
h2, h3, h4 {
font-size: 18px;
}
}

@media(min-width: 500px) {
h2 {
font-size: 32px;
}

p {
font-size: 17px;
}

.carousel-caption h1{
font-size: 34px;
}
}

@media(min-width: 768px) {
h2 {
font-size: 40px;
}

h3 {
font-size: 34px;
}

h4 {
font-size: 24px;
}

p {
font-size: 20px;
}

.carousel-caption {
right: 5%;
left: 5%;
}

.carousel-caption h1{
font-size: 60px;
}

.carousel-item-container {
padding-top: 36%;
}

.resource {
margin: 10px 10px 20px;
padding: 20px 10px;
}

.resource .col-sm-4 {
display: block;
}

.resource.right-align .resource-cell {
text-align: right;
}

.resource.right-align .resource-cell img {
margin-left: auto;
margin-right: 0px;
}
}

@media(min-width: 992px) {
.page-footer .icons ul.platform {
text-align: right;
}
}

@media(min-width: 1024px) {
h2 {
font-size: 40px;
}

p {
font-size: 20px;
}

.content-block {
padding-top: 40px;
padding-bottom: 40px;
}

.carousel-caption {
bottom: 50px;
}

.carousel-caption h1{
font-size: 60px;
}
}